body{
    color: rgba(33, 32, 36, 0.86);
    font-family: 'Segoe UI', 'Roboto', arial,'Microsoft YaHei', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

a:link,a:visited{
    color: #005a94;
    text-decoration: none;
}

a:hover {
    color: #e33e06;
    text-decoration: underline;
}

ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#bookmarksContainer .fav{
    background-size: 15px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    padding-left: 20px;

}
#bookmarksContainer .folder{
    background-image: url('../img/ffolder.png');
}
#bookmarksContainer .web{
    background-image: url('../img/web.png');
}