body{
    color: rgba(33, 32, 36, 0.86);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif,'Microsoft YaHei' !important;
    font-size: 15px;
    font-weight: 200;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #f6faff;
    height: 100%;
    position: relative;
}

a:link,a:visited{
    color: #1f1d23;
    text-decoration: none;
}

a:hover {
    color: #e33e06;
    text-decoration: underline;
}



ul,li,button,input,a{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clear{
    width:100%; height:1px;
    clear:both;
}

.container{
    float: left;

}

.module{
    float: left;
    border: #a9aaab solid 1px;
    border-radius: 8px;
    height: auto;
    padding: 5px;
    margin: 10px 15px 2px 2px;
    display:none;
}

.module>h3{
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
}

.module>h3>.btn-toggleShow{
    float: right;
    cursor: pointer;
}

.modal{
    padding:10px;
}


















