body{
    color: rgba(33, 32, 36, 0.86);
    font-family: 'Segoe UI', 'Roboto', arial,'Microsoft YaHei', sans-serif !important;
    font-size: 15px;
    font-weight: 200;
}

a:link,a:visited{
    color: #005a94;
    text-decoration: none;
}

a:hover {
    color: #e33e06;
    text-decoration: underline;
}



ul,li,button,input,a{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clear{
    width:100%; height:1px;
    clear:both;
}

.container{
    float: left;

}

.module{
    float: left;
    border: #a9aaab solid 1px;
    border-radius: 8px;
    height: 100%;
    padding: 5px;
    margin: 10px 15px 2px 2px;
    display:none;
}

.module>h3{
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
}


.modal{
    padding:10px;
}