

.input_styleRule, .input_scriptRule, .input_matchPage{
    width: 93%;
}



.input_styleRule, .input_scriptRule{
    min-height: 260px;
}

.matchRuleContainer .btn-delMatchPage,.matchRuleContainer .btn-addMatchPage{
    width: 53px;
    margin: 0 3px;
}

.RuleSection:not(:first-child){
    border-top: solid 1px #cccccc;
    margin: 10px auto 10px;
    padding-top: 10px;
}

.sectionBtnContainer .btn-delSection{
    display: none;
}